In [69]:
import pandas as pd

In [70]:
df = pd.read_excel('../data/시도별_인구수_데이터.xlsx')
df

c:\Users\admin\AppData\Local\Programs\Python\Python310\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,행정구역별,성별,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,서울특별시,계,10088611,10072235,10036273,9990010,9975163,9941162,9842501,9766399,9697449,9657296,9617795,9501528,9411443
1,NaN,남자,4994235,4977967,4951465,4918124,4904120,4881464,4820273,4772820,4735107,4703424,4666345,4597665,4546159
2,NaN,여자,5094376,5094268,5084808,5071886,5071043,5059698,5022228,4993579,4962342,4953872,4951450,4903863,4865284
3,부산광역시,계,3476658,3476349,3461881,3455734,3452309,3452260,3446962,3424409,3403116,3381208,3355632,3327350,3299396
4,NaN,남자,1719564,1719138,1711058,1706570,1704522,1703339,1697939,1685161,1673513,1660469,1642998,1626129,1610038
5,NaN,여자,1757094,1757211,1750823,1749164,1747787,1748921,1749023,1739248,1729603,1720739,1712634,1701221,1689358
6,대구광역시,계,2479781,2483116,2480493,2475657,2474900,2468755,2461272,2457769,2448800,2436776,2414262,2387631,2363420
7,NaN,남자,1237614,1238666,1236441,1232859,1232587,1230092,1223929,1220800,1215439,1207640,1192479,1177271,1163913
8,NaN,여자,1242167,1244450,1244052,1242798,1242313,1238663,1237343,1236969,1233361,1229136,1221783,1210360,1199507
9,인천광역시,계,2722990,2754739,2793754,2829608,2862241,2882868,2907366,2923859,2935848,2952200,2951065,2940927,2960685
10,NaN,남자,1379554,1394025,1411329,1427323,1442354,1451459,1463157,1470977,1476018,1484864,1480370,1473943,1483547
11,NaN,여자,1343436,1360714,1382425,1402285,1419887,1431409,1444209,1452882,1459830,1467336,1470695,1466984,1477138
12,광주광역시,계,1493632,1502051,1503758,1503835,1504582,1505906,1502125,1495392,1488439,1489142,1479550,1468912,1463411
13,NaN,남자,743895,748229,748890,748772,749276,750248,747452,744386,741160,741181,735215,729281,726060
14,NaN,여자,749737,753822,754868,755063,755306,755658,754673,751006,747279,747961,744335,739631,737351
15,대전광역시,계,1515009,1528356,1540136,1545232,1552692,1542394,1536169,1527784,1513217,1503212,1491876,1478831,1471563
16,NaN,남자,762913,769470,774514,776298,779597,774512,771514,766620,759207,753904,746190,739286,735394
17,NaN,여자,752096,758886,765622,768934,773095,767882,764655,761164,754010,749308,745686,739545,736169
18,울산광역시,계,1099035,1112079,1124659,1137472,1151171,1163719,1166202,1158787,1152725,1145761,1139069,1123676,1112807
19,NaN,남자,571568,578008,584553,591049,598273,605412,605913,600998,597507,593106,587960,579881,574138
20,NaN,여자,527467,534071,540106,546423,552898,558307,560289,557789,555218,552655,551109,543795,538669
21,세종특별자치시,계,-,-,102157,118463,132437,187202,234410,265517,302249,329422,348302,366165,382760
22,NaN,남자,-,-,52900,61123,68048,94881,118560,133811,152006,165825,175036,184137,192295
23,NaN,여자,-,-,49257,57340,64389,92321,115850,131706,150243,163597,173266,182028,190465
24,경기도,계,11618962,11825310,11974482,12126274,12282013,12423017,12600313,12785790,13026541,13241253,13452422,13611628,13680911
25,NaN,남자,5888330,5991599,6060641,6131745,6209792,6282002,6367061,6467424,6594949,6710022,6799985,6876540,6911143
26,NaN,여자,5730632,5833711,5913841,5994529,6072221,6141015,6233252,6318366,6431592,6531231,6652437,6735088,6769768
27,강원도,계,1488794,1497944,1504234,1505686,1510198,1516636,1520686,1520879,1521442,1520117,1519291,1520457,1525912
28,NaN,남자,753379,757935,761014,760774,763051,767652,769110,768854,769266,767673,766322,766814,769441
29,NaN,여자,735415,740009,743220,744912,747147,748984,751576,752025,752176,752444,752969,753643,756471
30,충청북도,계,1524279,1545214,1553478,1564816,1578403,1589264,1600904,1609061,1618090,1629249,1630839,1632358,1633687
31,NaN,남자,770536,781367,785564,791388,798861,805198,812339,817342,824119,832115,833130,833810,835274
32,NaN,여자,753743,763847,767914,773428,779542,784066,788565,791719,793971,797134,797709,798548,798413
33,충청남도,계,2077637,2108370,2042689,2062301,2087600,2102811,2126174,2153380,2177105,2189132,2176641,2176548,2180086
34,NaN,남자,1061525,1077734,1042996,1053128,1067014,1075649,1087515,1103324,1117512,1124672,1117283,1117862,1120927
35,NaN,여자,1016112,1030636,999693,1009173,1020586,1027162,1038659,1050056,1059593,1064460,1059358,1058686,1059159
36,전라북도,계,1795819,1808733,1817430,1820969,1829437,1835125,1835243,1828527,1822635,1811958,1805688,1794192,1780234
37,NaN,남자,887155,896178,902355,905581,911507,916353,916567,912675,909711,904929,900472,894826,888481
38,NaN,여자,908664,912555,915075,915388,917930,918772,918676,915852,912924,907029,905216,899366,891753
39,전라남도,계,1777282,1778593,1782361,1783896,1791887,1796578,1798310,1795036,1796331,1793043,1793108,1782951,1768620
40,NaN,남자,878816,881745,885977,888449,894525,899920,902337,900464,902497,904057,905572,900839,894118
41,NaN,여자,898466,896848,896384,895447,897362,896658,895973,894572,893834,888986,887536,882112,874502
42,경상북도,계,2630443,2644992,2655755,2660941,2670922,2677768,2683339,2675128,2675196,2671108,2651789,2640965,2628220
43,NaN,남자,1319210,1328334,1334532,1337940,1344773,1349606,1355427,1351843,1353879,1353578,1342556,1337140,1331227
44,NaN,여자,1311233,1316658,1321223,1323001,1326149,1328162,1327912,1323285,1321317,1317530,1309233,1303825,1296993
45,경상남도,계,3217263,3244712,3265495,3277965,3307369,3330230,3337708,3339275,3351332,3350142,3340211,3317568,3289257
46,NaN,남자,1638144,1651780,1661753,1668122,1683623,1696568,1700617,1698965,1704709,1705158,1696336,1683479,1668443
47,NaN,여자,1579119,1592932,1603742,1609843,1623746,1633662,1637091,1640310,1646623,1644984,1643875,1634089,1620814
48,제주특별자치도,계,547917,553845,560818,570034,583335,599252,618119,634919,654543,663803,668699,673189,675705
49,NaN,남자,274676,277692,281398,286074,293154,301539,311239,320329,331090,336089,337448,338902,339772
50,NaN,여자,273241,276153,279420,283960,290181,297713,306880,314590,323453,327714,331251,334287,335933

In [71]:
# 세종특별자치도 '-' 부분을 0으로 변경
df.replace(['-'], 0, inplace=True)
df

,행정구역별,성별,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,서울특별시,계,10088611,10072235,10036273,9990010,9975163,9941162,9842501,9766399,9697449,9657296,9617795,9501528,9411443
1,NaN,남자,4994235,4977967,4951465,4918124,4904120,4881464,4820273,4772820,4735107,4703424,4666345,4597665,4546159
2,NaN,여자,5094376,5094268,5084808,5071886,5071043,5059698,5022228,4993579,4962342,4953872,4951450,4903863,4865284
3,부산광역시,계,3476658,3476349,3461881,3455734,3452309,3452260,3446962,3424409,3403116,3381208,3355632,3327350,3299396
4,NaN,남자,1719564,1719138,1711058,1706570,1704522,1703339,1697939,1685161,1673513,1660469,1642998,1626129,1610038
5,NaN,여자,1757094,1757211,1750823,1749164,1747787,1748921,1749023,1739248,1729603,1720739,1712634,1701221,1689358
6,대구광역시,계,2479781,2483116,2480493,2475657,2474900,2468755,2461272,2457769,2448800,2436776,2414262,2387631,2363420
7,NaN,남자,1237614,1238666,1236441,1232859,1232587,1230092,1223929,1220800,1215439,1207640,1192479,1177271,1163913
8,NaN,여자,1242167,1244450,1244052,1242798,1242313,1238663,1237343,1236969,1233361,1229136,1221783,1210360,1199507
9,인천광역시,계,2722990,2754739,2793754,2829608,2862241,2882868,2907366,2923859,2935848,2952200,2951065,2940927,2960685
10,NaN,남자,1379554,1394025,1411329,1427323,1442354,1451459,1463157,1470977,1476018,1484864,1480370,1473943,1483547
11,NaN,여자,1343436,1360714,1382425,1402285,1419887,1431409,1444209,1452882,1459830,1467336,1470695,1466984,1477138
12,광주광역시,계,1493632,1502051,1503758,1503835,1504582,1505906,1502125,1495392,1488439,1489142,1479550,1468912,1463411
13,NaN,남자,743895,748229,748890,748772,749276,750248,747452,744386,741160,741181,735215,729281,726060
14,NaN,여자,749737,753822,754868,755063,755306,755658,754673,751006,747279,747961,744335,739631,737351
15,대전광역시,계,1515009,1528356,1540136,1545232,1552692,1542394,1536169,1527784,1513217,1503212,1491876,1478831,1471563
16,NaN,남자,762913,769470,774514,776298,779597,774512,771514,766620,759207,753904,746190,739286,735394
17,NaN,여자,752096,758886,765622,768934,773095,767882,764655,761164,754010,749308,745686,739545,736169
18,울산광역시,계,1099035,1112079,1124659,1137472,1151171,1163719,1166202,1158787,1152725,1145761,1139069,1123676,1112807
19,NaN,남자,571568,578008,584553,591049,598273,605412,605913,600998,597507,593106,587960,579881,574138
20,NaN,여자,527467,534071,540106,546423,552898,558307,560289,557789,555218,552655,551109,543795,538669
21,세종특별자치시,계,0,0,102157,118463,132437,187202,234410,265517,302249,329422,348302,366165,382760
22,NaN,남자,0,0,52900,61123,68048,94881,118560,133811,152006,165825,175036,184137,192295
23,NaN,여자,0,0,49257,57340,64389,92321,115850,131706,150243,163597,173266,182028,190465
24,경기도,계,11618962,11825310,11974482,12126274,12282013,12423017,12600313,12785790,13026541,13241253,13452422,13611628,13680911
25,NaN,남자,5888330,5991599,6060641,6131745,6209792,6282002,6367061,6467424,6594949,6710022,6799985,6876540,6911143
26,NaN,여자,5730632,5833711,5913841,5994529,6072221,6141015,6233252,6318366,6431592,6531231,6652437,6735088,6769768
27,강원도,계,1488794,1497944,1504234,1505686,1510198,1516636,1520686,1520879,1521442,1520117,1519291,1520457,1525912
28,NaN,남자,753379,757935,761014,760774,763051,767652,769110,768854,769266,767673,766322,766814,769441
29,NaN,여자,735415,740009,743220,744912,747147,748984,751576,752025,752176,752444,752969,753643,756471
30,충청북도,계,1524279,1545214,1553478,1564816,1578403,1589264,1600904,1609061,1618090,1629249,1630839,1632358,1633687
31,NaN,남자,770536,781367,785564,791388,798861,805198,812339,817342,824119,832115,833130,833810,835274
32,NaN,여자,753743,763847,767914,773428,779542,784066,788565,791719,793971,797134,797709,798548,798413
33,충청남도,계,2077637,2108370,2042689,2062301,2087600,2102811,2126174,2153380,2177105,2189132,2176641,2176548,2180086
34,NaN,남자,1061525,1077734,1042996,1053128,1067014,1075649,1087515,1103324,1117512,1124672,1117283,1117862,1120927
35,NaN,여자,1016112,1030636,999693,1009173,1020586,1027162,1038659,1050056,1059593,1064460,1059358,1058686,1059159
36,전라북도,계,1795819,1808733,1817430,1820969,1829437,1835125,1835243,1828527,1822635,1811958,1805688,1794192,1780234
37,NaN,남자,887155,896178,902355,905581,911507,916353,916567,912675,909711,904929,900472,894826,888481
38,NaN,여자,908664,912555,915075,915388,917930,918772,918676,915852,912924,907029,905216,899366,891753
39,전라남도,계,1777282,1778593,1782361,1783896,1791887,1796578,1798310,1795036,1796331,1793043,1793108,1782951,1768620
40,NaN,남자,878816,881745,885977,888449,894525,899920,902337,900464,902497,904057,905572,900839,894118
41,NaN,여자,898466,896848,896384,895447,897362,896658,895973,894572,893834,888986,887536,882112,874502
42,경상북도,계,2630443,2644992,2655755,2660941,2670922,2677768,2683339,2675128,2675196,2671108,2651789,2640965,2628220
43,NaN,남자,1319210,1328334,1334532,1337940,1344773,1349606,1355427,1351843,1353879,1353578,1342556,1337140,1331227
44,NaN,여자,1311233,1316658,1321223,1323001,1326149,1328162,1327912,1323285,1321317,1317530,1309233,1303825,1296993
45,경상남도,계,3217263,3244712,3265495,3277965,3307369,3330230,3337708,3339275,3351332,3350142,3340211,3317568,3289257
46,NaN,남자,1638144,1651780,1661753,1668122,1683623,1696568,1700617,1698965,1704709,1705158,1696336,1683479,1668443
47,NaN,여자,1579119,1592932,1603742,1609843,1623746,1633662,1637091,1640310,1646623,1644984,1643875,1634089,1620814
48,제주특별자치도,계,547917,553845,560818,570034,583335,599252,618119,634919,654543,663803,668699,673189,675705
49,NaN,남자,274676,277692,281398,286074,293154,301539,311239,320329,331090,336089,337448,338902,339772
50,NaN,여자,273241,276153,279420,283960,290181,297713,306880,314590,323453,327714,331251,334287,335933

In [72]:
# 남자, 여자가 포함된 행을 모두 지우기 위해 nan이 포함된 행 모두 drop
df.dropna(inplace=True)
df

,행정구역별,성별,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,서울특별시,계,10088611,10072235,10036273,9990010,9975163,9941162,9842501,9766399,9697449,9657296,9617795,9501528,9411443
3,부산광역시,계,3476658,3476349,3461881,3455734,3452309,3452260,3446962,3424409,3403116,3381208,3355632,3327350,3299396
6,대구광역시,계,2479781,2483116,2480493,2475657,2474900,2468755,2461272,2457769,2448800,2436776,2414262,2387631,2363420
9,인천광역시,계,2722990,2754739,2793754,2829608,2862241,2882868,2907366,2923859,2935848,2952200,2951065,2940927,2960685
12,광주광역시,계,1493632,1502051,1503758,1503835,1504582,1505906,1502125,1495392,1488439,1489142,1479550,1468912,1463411
15,대전광역시,계,1515009,1528356,1540136,1545232,1552692,1542394,1536169,1527784,1513217,1503212,1491876,1478831,1471563
18,울산광역시,계,1099035,1112079,1124659,1137472,1151171,1163719,1166202,1158787,1152725,1145761,1139069,1123676,1112807
21,세종특별자치시,계,0,0,102157,118463,132437,187202,234410,265517,302249,329422,348302,366165,382760
24,경기도,계,11618962,11825310,11974482,12126274,12282013,12423017,12600313,12785790,13026541,13241253,13452422,13611628,13680911
27,강원도,계,1488794,1497944,1504234,1505686,1510198,1516636,1520686,1520879,1521442,1520117,1519291,1520457,1525912
30,충청북도,계,1524279,1545214,1553478,1564816,1578403,1589264,1600904,1609061,1618090,1629249,1630839,1632358,1633687
33,충청남도,계,2077637,2108370,2042689,2062301,2087600,2102811,2126174,2153380,2177105,2189132,2176641,2176548,2180086
36,전라북도,계,1795819,1808733,1817430,1820969,1829437,1835125,1835243,1828527,1822635,1811958,1805688,1794192,1780234
39,전라남도,계,1777282,1778593,1782361,1783896,1791887,1796578,1798310,1795036,1796331,1793043,1793108,1782951,1768620
42,경상북도,계,2630443,2644992,2655755,2660941,2670922,2677768,2683339,2675128,2675196,2671108,2651789,2640965,2628220
45,경상남도,계,3217263,3244712,3265495,3277965,3307369,3330230,3337708,3339275,3351332,3350142,3340211,3317568,3289257
48,제주특별자치도,계,547917,553845,560818,570034,583335,599252,618119,634919,654543,663803,668699,673189,675705

In [73]:
# 성별 column 없애기
df.drop(['성별'], axis=1, inplace=True)
df

,행정구역별,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,서울특별시,10088611,10072235,10036273,9990010,9975163,9941162,9842501,9766399,9697449,9657296,9617795,9501528,9411443
3,부산광역시,3476658,3476349,3461881,3455734,3452309,3452260,3446962,3424409,3403116,3381208,3355632,3327350,3299396
6,대구광역시,2479781,2483116,2480493,2475657,2474900,2468755,2461272,2457769,2448800,2436776,2414262,2387631,2363420
9,인천광역시,2722990,2754739,2793754,2829608,2862241,2882868,2907366,2923859,2935848,2952200,2951065,2940927,2960685
12,광주광역시,1493632,1502051,1503758,1503835,1504582,1505906,1502125,1495392,1488439,1489142,1479550,1468912,1463411
15,대전광역시,1515009,1528356,1540136,1545232,1552692,1542394,1536169,1527784,1513217,1503212,1491876,1478831,1471563
18,울산광역시,1099035,1112079,1124659,1137472,1151171,1163719,1166202,1158787,1152725,1145761,1139069,1123676,1112807
21,세종특별자치시,0,0,102157,118463,132437,187202,234410,265517,302249,329422,348302,366165,382760
24,경기도,11618962,11825310,11974482,12126274,12282013,12423017,12600313,12785790,13026541,13241253,13452422,13611628,13680911
27,강원도,1488794,1497944,1504234,1505686,1510198,1516636,1520686,1520879,1521442,1520117,1519291,1520457,1525912
30,충청북도,1524279,1545214,1553478,1564816,1578403,1589264,1600904,1609061,1618090,1629249,1630839,1632358,1633687
33,충청남도,2077637,2108370,2042689,2062301,2087600,2102811,2126174,2153380,2177105,2189132,2176641,2176548,2180086
36,전라북도,1795819,1808733,1817430,1820969,1829437,1835125,1835243,1828527,1822635,1811958,1805688,1794192,1780234
39,전라남도,1777282,1778593,1782361,1783896,1791887,1796578,1798310,1795036,1796331,1793043,1793108,1782951,1768620
42,경상북도,2630443,2644992,2655755,2660941,2670922,2677768,2683339,2675128,2675196,2671108,2651789,2640965,2628220
45,경상남도,3217263,3244712,3265495,3277965,3307369,3330230,3337708,3339275,3351332,3350142,3340211,3317568,3289257
48,제주특별자치도,547917,553845,560818,570034,583335,599252,618119,634919,654543,663803,668699,673189,675705

In [74]:
# '행정구역별' column '행정구역'으로 이름 바꾸기
df.rename(columns={'행정구역별': '행정구역'}, inplace=True)
df

,행정구역,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,서울특별시,10088611,10072235,10036273,9990010,9975163,9941162,9842501,9766399,9697449,9657296,9617795,9501528,9411443
3,부산광역시,3476658,3476349,3461881,3455734,3452309,3452260,3446962,3424409,3403116,3381208,3355632,3327350,3299396
6,대구광역시,2479781,2483116,2480493,2475657,2474900,2468755,2461272,2457769,2448800,2436776,2414262,2387631,2363420
9,인천광역시,2722990,2754739,2793754,2829608,2862241,2882868,2907366,2923859,2935848,2952200,2951065,2940927,2960685
12,광주광역시,1493632,1502051,1503758,1503835,1504582,1505906,1502125,1495392,1488439,1489142,1479550,1468912,1463411
15,대전광역시,1515009,1528356,1540136,1545232,1552692,1542394,1536169,1527784,1513217,1503212,1491876,1478831,1471563
18,울산광역시,1099035,1112079,1124659,1137472,1151171,1163719,1166202,1158787,1152725,1145761,1139069,1123676,1112807
21,세종특별자치시,0,0,102157,118463,132437,187202,234410,265517,302249,329422,348302,366165,382760
24,경기도,11618962,11825310,11974482,12126274,12282013,12423017,12600313,12785790,13026541,13241253,13452422,13611628,13680911
27,강원도,1488794,1497944,1504234,1505686,1510198,1516636,1520686,1520879,1521442,1520117,1519291,1520457,1525912
30,충청북도,1524279,1545214,1553478,1564816,1578403,1589264,1600904,1609061,1618090,1629249,1630839,1632358,1633687
33,충청남도,2077637,2108370,2042689,2062301,2087600,2102811,2126174,2153380,2177105,2189132,2176641,2176548,2180086
36,전라북도,1795819,1808733,1817430,1820969,1829437,1835125,1835243,1828527,1822635,1811958,1805688,1794192,1780234
39,전라남도,1777282,1778593,1782361,1783896,1791887,1796578,1798310,1795036,1796331,1793043,1793108,1782951,1768620
42,경상북도,2630443,2644992,2655755,2660941,2670922,2677768,2683339,2675128,2675196,2671108,2651789,2640965,2628220
45,경상남도,3217263,3244712,3265495,3277965,3307369,3330230,3337708,3339275,3351332,3350142,3340211,3317568,3289257
48,제주특별자치도,547917,553845,560818,570034,583335,599252,618119,634919,654543,663803,668699,673189,675705

In [75]:
# 인덱스 reset
df.reset_index(drop=True, inplace=True)
df

,행정구역,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,서울특별시,10088611,10072235,10036273,9990010,9975163,9941162,9842501,9766399,9697449,9657296,9617795,9501528,9411443
1,부산광역시,3476658,3476349,3461881,3455734,3452309,3452260,3446962,3424409,3403116,3381208,3355632,3327350,3299396
2,대구광역시,2479781,2483116,2480493,2475657,2474900,2468755,2461272,2457769,2448800,2436776,2414262,2387631,2363420
3,인천광역시,2722990,2754739,2793754,2829608,2862241,2882868,2907366,2923859,2935848,2952200,2951065,2940927,2960685
4,광주광역시,1493632,1502051,1503758,1503835,1504582,1505906,1502125,1495392,1488439,1489142,1479550,1468912,1463411
5,대전광역시,1515009,1528356,1540136,1545232,1552692,1542394,1536169,1527784,1513217,1503212,1491876,1478831,1471563
6,울산광역시,1099035,1112079,1124659,1137472,1151171,1163719,1166202,1158787,1152725,1145761,1139069,1123676,1112807
7,세종특별자치시,0,0,102157,118463,132437,187202,234410,265517,302249,329422,348302,366165,382760
8,경기도,11618962,11825310,11974482,12126274,12282013,12423017,12600313,12785790,13026541,13241253,13452422,13611628,13680911
9,강원도,1488794,1497944,1504234,1505686,1510198,1516636,1520686,1520879,1521442,1520117,1519291,1520457,1525912
10,충청북도,1524279,1545214,1553478,1564816,1578403,1589264,1600904,1609061,1618090,1629249,1630839,1632358,1633687
11,충청남도,2077637,2108370,2042689,2062301,2087600,2102811,2126174,2153380,2177105,2189132,2176641,2176548,2180086
12,전라북도,1795819,1808733,1817430,1820969,1829437,1835125,1835243,1828527,1822635,1811958,1805688,1794192,1780234
13,전라남도,1777282,1778593,1782361,1783896,1791887,1796578,1798310,1795036,1796331,1793043,1793108,1782951,1768620
14,경상북도,2630443,2644992,2655755,2660941,2670922,2677768,2683339,2675128,2675196,2671108,2651789,2640965,2628220
15,경상남도,3217263,3244712,3265495,3277965,3307369,3330230,3337708,3339275,3351332,3350142,3340211,3317568,3289257
16,제주특별자치도,547917,553845,560818,570034,583335,599252,618119,634919,654543,663803,668699,673189,675705

In [76]:
df = pd.melt(df,id_vars=['행정구역'],value_vars=['2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021'],
        var_name='년도', value_name='인구수')
df

        행정구역    년도       인구수
0      서울특별시  2010  10088611
1      부산광역시  2010   3476658
2      대구광역시  2010   2479781
3      인천광역시  2010   2722990
4      광주광역시  2010   1493632
..       ...   ...       ...
199     전라북도  2021   1794192
200     전라남도  2021   1782951
201     경상북도  2021   2640965
202     경상남도  2021   3317568
203  제주특별자치도  2021    673189

[204 rows x 3 columns]

In [77]:
df.to_csv('../data/시도별_인구수_데이터_handling.csv', encoding='utf-8')